@import "tailwindcss";

:root {
  --foreground: #16140f;
  --color-cream: #f0efe4;
  --color-paper: #fcfcf9;
}

@theme inline {
  --color-foreground: var(--foreground);
  --font-serif: var(--font-source-serif-4);
  --color-cream: var(--color-cream);
  --color-paper: var(--color-paper);
}

body {
  background: var(--color-paper);
  color: var(--foreground);
  font-family: var(--font-source-serif-4);
}
